<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecaudaciónImpuestosVehiculos.Properties.Settings.cn"
            connectionString="Data Source=DESKTOP-566GEEG\SQLEXPRESS;Initial Catalog=RIV_BD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>